body {
    height: 1000vh;
}

.header {
    padding: 8px 0;
    background-color: darkblue;
}

.header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    height: 40px;
    background-color: darkblue;
    color: whitesmoke;
    padding: 0 16px;
    cursor: pointer;
}
.header-button:hover {
    background-color: blue;
}

.bottom-nav {
    background-color: whitesmoke;

}

.bottom-nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    height: 40px;
    background-color: whitesmoke;
    color: black;
    padding: 0 16px;
}
